h1 {
    font-size: 50 ;
    font-family: Times New Roman;
    padding: 10px ;
    margin: 10px ;
    text-align: center;
    font-weight: ;
    text-justify: none;
    text-decoration: ;
    color: rgb(250, 250, 250) ;
    background-color: #123456;
}

h2 {
    font-size: ;
    text-align: center;
    font-family: ;
    padding: ;
    margin: ;
    font-weight: ;
    color: ;
    background-color: ;
}

p {
    font-family: ;
    font-size: ;
    padding: ;
    margin: ;
    color: ;
    background-color: ;
}

.logo {
    background-size: cover;
    background-image: url();
    background-color: ;
    height: ;
    width: ;
}
